<div class="container">
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a [routerLink]="['/WebradioList']">{{ 'menu_webradio' | translate }}</a></li>
            <li><a [routerLink]="['/WebradioList']">{{ 'menu_fmradio' | translate }}</a></li>
			<li><a [routerLink]="['/WebradioList']">{{ 'menu_player' | translate }}</a></li>
			<li><a [routerLink]="['/WebradioList']">{{ 'menu_linein' | translate }}</a></li>
			<li><a [routerLink]="['/WebradioList']">{{ 'menu_airplay' | translate }}</a></li>
			<li><a [routerLink]="['/WebradioList']">{{ 'menu_settings' | translate }}</a></li>
        </ul>
    </div>
</div>