<form (ngSubmit)="onSubmit(itemForm.value)" [ngFormModel]="itemForm">
    <div class="form-group">
        <label for="item-title">{{ 'new_item_title_label' | translate }}</label>
        <input type="text" [ngFormControl]="itemForm.controls['title']" #title="ngForm" class="form-control" id="item-title">
		<div *ngIf="title.control.hasError('required') && title.control.touched" class="error">
			{{ 'new_item_title_error' | translate }}
		</div>
		<div *ngIf="(title.control.hasError('duplicate') && title.control.touched) || showDuplicateError" class="error">
			{{ 'new_item_title_error_duplicate' | translate }}
		</div>
	</div>
    <div class="form-group">
        <label for="item-url">{{ 'new_item_url_label' | translate }}</label>
        <input type="text" [ngFormControl]="itemForm.controls['url']" #url="ngForm" class="form-control" id="item-url">
		<div *ngIf="url.control.hasError('required') && url.control.touched" class="error">
        {{ 'new_item_url_error' | translate }}
		</div>
		<div *ngIf="url.control.hasError('url') && url.control.touched" class="error">
        {{ 'new_item_url_error_url' | translate }}
		</div>
	</div>
    <button type="submit" [disabled]="!itemForm.valid" class="btn btn-primary">Save</button>
	<button type="button" class="btn btn-default" (click)="cancelNewItemForm()">Cancel</button>
</form>