<form (ngSubmit)="onSubmit(itemForm.value)" [ngFormModel]="itemForm">
    <div class="form-group">
        <label for="item-name">Name</label>
        <input type="text" [ngFormControl]="itemForm.controls['name']" #name="ngForm" class="form-control" id="item-name">
    </div>
    <div *ngIf="name.control.hasError('required') && name.control.touched" class="alert alert-danger">
        Name is required
    </div>

    <div class="form-group">
        <label for="item-website">Website</label>
        <input type="text" [ngFormControl]="itemForm.controls['website']" #website="ngForm" class="form-control" id="item-website">
    </div>
    <div *ngIf="website.control.hasError('required') && website.control.touched" class="alert alert-danger">
        Website is required
    </div>
    <div *ngIf="website.control.hasError('url') && website.control.touched" class="alert alert-danger">
        Website is invalid
    </div>

    <div class="form-group">
        <label for="item-description">Description</label>
        <textarea [ngFormControl]="itemForm.controls['description']" class="form-control" id="item-description" rows="5"></textarea>
    </div>

    <button type="submit" [disabled]="!itemForm.valid" class="btn btn-primary">Save</button>
</form>