<div class="list-group-item webradio-item">
    <h4 class="list-group-item-heading"><a href="#{{ item.id }}">{{ item.title }}</a>
	<span class="pull-right item-manage-controls" *ngIf="showEditControls">
		<img src="{{ baseHost }}images/reorder.png"/>
		<a href="#" (click)="toggleEditMode()"><img src="{{ baseHost }}images/edit.png"/></a>
		<a href="#" (click)="deleteItem()"><img src="{{ baseHost }}images/delete.png"/></a>
	</span>
	<h5 class="list-group-item-text">{{ item.value }}</h5>
	</h4>
</div>