html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
}

.items-list {
  margin-right: 35px;
}

.drag-handle {
  border: 10px none;
  box-sizing: border-box;
  display: inline-block;
  margin: 0px;
  padding: 12px;
  outline: medium none;
  width: 48px;
  height: 48px;
}

.add-item-error {
  margin-left: 0px;
  padding: 20px 56px 16px 72px;
  position: relative;
}

.add-item-error-icon {
  position: absolute;
  top: 0px;
  left: 5px;
  margin: 12px;
}

.add-item-error-text {
  display: block;
  position: absolute;
  top: 14px;
  font-size: 16px;
  font-weight: inherit;
  color: red;
}
